Package: x-live-easyeggs
Version: 0.1.10
Depends: python3 , python3-pyqt5, xdg-utils, curl, bleachbit
Maintainer: VerEnderT <chaosz932@gmail.com>
Architecture: all
Homepage: http://verlinuxt.sytes.net
Section: utils
Priority: optional
Installed-Size: 761kb
Description: Gui to make penguins eggs easier to handle
 Deutsch: ->>
 Eine grafische Vereinfachung als Erweiterung für Penguins Eggs. 
 Erstellen Sie schnell und einfach Debian-basierte modifizierte Linux-ISOs.
 English: ->>
 A graphical simplification as an extension for Penguins Eggs
 Quickly and easily create Debian based modified Linux ISOs.

